# =========================
# Local backups
# =========================

backups/

# Python backups / experiments
src/scripts/*backup*.py
src/scripts/*stable*.py
src/scripts/*before*.py

# QML backups
*.backup.qml
*.qml.backup


# =========================
# Runtime files
# =========================

*.log
*.cache


# =========================
# Temporary files
# =========================

/tmp/


# =========================
# Editor files
# =========================

*.swp
*.swo
*~


# =========================
# OS files
# =========================

.DS_Store
Thumbs.db
